@tailwind base;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

}

.main{
  padding-left: 48px;
  padding-right: 48px;
}

button.design{
  background-color: gray;
  padding: 10px 20px;
  border-radius: 25px;
  box-shadow: 0px 2px 15px #f4f1f1;
}

.btn-bottom{
  position:absolute;
  bottom:10;

}