.btn-mininav {
    background-color: gray;
    padding: 5px 10px;
    margin-right: 15px;
    border-radius: 8px;
}


.div-slide {
    display: inline-block;
    position: fixed;

    
    left: -200px;
    width: 200px;
    height: 700px;
    background-color: greenyellow;
    color: black;
    border-radius: 20px;
    padding-left: 10px;
    padding-top: 5px;

    transition: left 0.3s ease;
}


.div-btn-left{
    transition: left 0.3s ease;
}


.dynamic-rectangle {
    max-width: 1440px;
    min-height: 800px;
    margin: 20px auto 0;
    transition: width 0.3s ease;
    border: 3px solid rebeccapurple;
}

#div1{
    width: 368px;
    height: fit-content;
    padding: 10px;
    border: 1px solid #aaaaaa;
}
