/*.container{
    display: grid;
    width: 100%;
    height: 90vh;
    margin: 0px;
    
}*/

.left-div {
    display: flex;
    align-items: center;  /* Centers content vertically */
    justify-content: flex-start; /* Aligns content to the left */
    height: 100%;

}

button.left-arr {
    background-color: gray;
    padding: 5px 10px;
    border-radius: 8px;
}

button.mininav-btn {
    background-color: gray;
    padding: 5px 10px;
    margin-right: 15px;
    border-radius: 8px;
}

div.mininav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0;
    background-color: rgb(55, 54, 54);
    margin-left: 600px;
    margin-right: 600px;
    border-radius: 20px;
}

.dynamic-rectangle {
    max-width: 1000px;
    min-height: 800px;
    margin: 20px auto 0;
    transition: width 0.3s ease;
    border: 3px solid rebeccapurple;
    
}


.container {
    display: grid;
    grid-template-areas:
      "header"
      "menu"
      "footer";
    grid-template-columns: 1fr 3fr;
    gap: 5px;
    background-color: #2196F3;
    padding: 5px;
    color: black;
  }
  .container > div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
  }
  .container > div.header {
    grid-area: header;
    text-align: center;
  }
  .container > div.menu {
    grid-area: menu;
  }
  .container > div.content {
    grid-area: content;
  }
  .container > div.footer {
    grid-area: footer;
  }